html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 5px;
}
a:hover {
  background: rgba(114, 14, 14, 0.4);
}

/* ul is our flex container while li will be our flex items */
/* need to set the display: flex; on our container */
.slider-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* li is the flex items */
.slider-nav li {
  flex: 2;
  border: 1px solid red;
  text-align: center;
  display: flex; /* this would normally go on a flex container */
}

.slider-nav .arrow {
  flex: 1;
}

.slider-nav a {
  flex-basis: 100%;
  /* we want to stretch as well as center */
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow a {
  font-size: 30px;
}
